@font-face {
  font-family: 'Pofak';
  src: url('./Pofak-Ultralight.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Pofak';
  src: url('./Pofak-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Pofak';
  src: url('./Pofak-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pofak';
  src: url('./Pofak-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Pofak';
  src: url('./Pofak-DemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Pofak';
  src: url('./Pofak-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Pofak';
  src: url('./Pofak-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Pofak';
  src: url('./Pofak-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Pofak Tanin';
  src: url('./Pofak-Tanin.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
